@tailwind preflight;
@tailwind components;


.content.custom
    h1
        margin-bottom: 0.5em
        margin-top: 0.5em
    h2
        margin-bottom: 0.2em
        margin-top: 0.2em

@tailwind utilities;


